[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pytest = "*"
spotipy = "*"
Flask = "*"
musicbrainzngs = "*"
requests = "*"
Sphinx = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
"psycopg2" = "*"
elasticsearch = "*"
redis = "*"
Flask-Limiter = "*"
Flask-APScheduler = "*"
sphinxcontrib-httpdomain = "*"
pytest-flask = "*"
raven = {extras = ["flask"]}
uWSGI = "*"
networkx = "*"


[requires]

python_version = "3.6"
