[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pytest = "*"
spotipy = "*"
flask = "*"
musicbrainzngs = "*"
requests = "*"
sphinx = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
elasticsearch = "*"
redis = "*"
flask-limiter = "*"
flask-apscheduler = "*"
sphinxcontrib-httpdomain = "*"
pytest-flask = "*"
raven = {extras = ["flask"]}


[requires]

python_version = "3.6"
